

<!doctype html>
<html>
<head>
<title>欢迎进入绘凡</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/sign.css" rel='stylesheet' type='text/css' media="all" />
<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
<!-- /css files -->
<style type="text/css">  
            body{  
                margin: 0;  
            }  
            #canvas{  
                display: block;  
                background: #000;  
                margin: 0 auto;
                z-index: -1;  
            }
            .content {
            	position: relative;
            	text-size:18px;

            } 
            .main {
            	position: absolute;
            	width:85%;
            	top: 10%;
            	left:7%;
            	text-size:18px;

            } 
            #text {
            	position: absolute;
            	z-index: -1000;

            }
           
        </style>
</head>
<body>
<div class="content">
    		<canvas id="canvas"></canvas>
	        <div class="main">
	        	<!-- <h1>很荣幸你的到来</h1> -->
				<div class="log">
					<div class="content2">
						<h2>登陆</h2>
						<form action="/uname/logn" class="layui-form" method="post">
							<input type="text" name="userName" lay-verify="userName" autocomplete="off" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '昵称或者账号';}" class="layui-input">
							<input type="password" name="password" lay-verify="password" autocomplete="off" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入密码';}" class="layui-input">
							<div class="button-row">
								<input type="submit" class="sign-in" value="登录" lay-submit lay-filter="login">
								<input type="reset" class="reset" value="注册" onclick="location.href='/views/uname/sign'"/>
                                <!-- <a href="/views/uname/sign">注册</a> -->
								<!-- type="submit" class="" -->
								<div class="clear"></div>
							</div>
						</form>
					</div>
					
					<div class="clear"></div>
				</div>
	        	
	        </div>
    		
    	</div>  
        

        <script> 
        //star 对象 
            function Starry(){  
                this.cxt=canvas.getContext("2d");  
                canvas.width=window.innerWidth;  
                canvas.height=window.innerHeight;  
                this.cW=canvas.width;  
                this.cH=canvas.height;  
                this.num=200;  
                this.data=[];  
            }  


            //star原型对象
            Starry.prototype={ 
             	//	随机点方法
                init: function(){  
                    for (var i=0;i<this.num;i++) {  
                        this.data[i]={  
                            x:Math.random()*this.cW,  
                            y:Math.random()*this.cH,  
                            cX:Math.random()*0.6-0.3,  
                            cY:Math.random()*0.6-0.3  
                        };  
                        this.drawCircle(this.data[i].x,this.data[i].y);  
                    }  
                      
                }
                , 

                //生成随机点
                drawCircle: function(x,y){  
                    var cxt=canvas.getContext("2d");  
                    cxt.save();//保存路径  
                    cxt.fillStyle="pink";  
                    cxt.beginPath();//开始路径  
                    cxt.arc(x,y,1,0,Math.PI*2,false);  
                    cxt.closePath();//结束路径  
                    cxt.fill();//填充方法  
                    cxt.restore();//释放路径  
                },

                //随机点连线
                drawLine: function(x1,y1,x2,y2){  
                    var cxt=this.cxt;  
                    var color=cxt.createLinearGradient(x1,y1,x2,y2);  
                    color.addColorStop(0,"#969696");  
                    color.addColorStop(1,"#894722");  
                    cxt.save();  
                    cxt.strokeStyle=color;  
                    cxt.beginPath();//开始路径  
                    cxt.moveTo(x1,y1);  
                    cxt.lineTo(x2,y2);  
                    cxt.closePath();//结束路径  
                    cxt.stroke();//填充方法  
                    cxt.restore();//释放路径  
                      
                }, 

                //核心方法
                moveCircle: function(){  
                    var self=this;  
                    self.cxt.clearRect(0,0,self.cW,self.cH);  
                    for(var i=0;i<self.num;i++){  
                        self.data[i].x+=self.data[i].cX;  
                        self.data[i].y+=self.data[i].cY;  
                        if(self.data[i].x>self.cW||self.data[i].x<0){  
                            self.data[i].cX=-self.data[i].cX;  
                        }  
                        if(self.data[i].x>self.cH||self.data[i].y<0){  
                            self.data[i].cY=-self.data[i].cY;  
                        }  
                        this.drawCircle(self.data[i].x,self.data[i].y);  
                        for(var j=i+1;j<self.num;j++){  
                            if(Math.pow(self.data[i].x-self.data[j].x,2)  
                            +Math.pow(self.data[i].y-self.data[j].y,2)  
                            <=50*50){  
                                self.drawLine(self.data[i].x,self.data[i].y,  
                                    self.data[j].x,self.data[j].y);  
                            }  
                        }  
                    }  
                }  
            }
            //初始化实例  
            var starry=new Starry();  
            starry.init();
            //实现动态效果  
            setInterval(function(){starry.moveCircle();},1);  
        </script> 
        <script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script>
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form();

        form.on('submit(login)',function(data){
            form.submit();
            return false;
        });
    });
</script>



</body>
</html>