<html lang="en">
<head>
    <style type="text/css">
        .views{margin-left: 10px;}
        @font-face {
            font-family: 'iconfont';  /* project id 453131 */
            src: url('//at.alicdn.com/t/font_453131_qkjxbr48kzu2fbt9.eot');
            src: url('//at.alicdn.com/t/font_453131_qkjxbr48kzu2fbt9.eot?#iefix') format('embedded-opentype'),
            url('//at.alicdn.com/t/font_453131_qkjxbr48kzu2fbt9.woff') format('woff'),
            url('//at.alicdn.com/t/font_453131_qkjxbr48kzu2fbt9.ttf') format('truetype'),
            url('//at.alicdn.com/t/font_453131_qkjxbr48kzu2fbt9.svg#iconfont') format('svg');
        }
        .iconfont {
            font-family:"iconfont" !important;font-size:22px;font-style:normal;opacity:0.7;-webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
    </style>
</head>
<body>
<div class="views">
    <p id="userid"><i class="iconfont">&#xe814;</i>  </p>
    <p id="imgurl"><i class="iconfont">&#xe715; </i>  </p>
    <p id="desrc"><i class="iconfont">&#xe626;</i>  </p>
    <p id="createTime"><i class="iconfont">&#xe95c;</i>  </p>
    <p id="lable"><i class="iconfont">&#xe6bb;</i>  </p>
    </p>
</body>
</script>
</html>
